In [ ]:
DICIONÁRIOS

In [1]:
#dicionários: estrutura chave/valor
#Dicionários usam {}
Notas = {'João' : 6.0, 'Maria' : 8.0, 'Pedro': 6.5}
print (Notas)

{'João': 6.0, 'Maria': 8.0, 'Pedro': 6.5}

In [2]:
print(Notas ['João'])

6.0

In [3]:
#Toda as chaves
Notas.keys()

dict_keys(['João', 'Maria', 'Pedro'])

In [4]:
#Todos os valores
Notas.values()

dict_values([6.0, 8.0, 6.5])

In [5]:
#Testar logicamente a existência
print('João' in Notas)
print( 'Fernando' in Notas)

True
False

In [6]:
#Apagar um elemento
del Notas['João']
print(Notas)

{'Maria': 8.0, 'Pedro': 6.5}

In [7]:
#Incluir um elemento
Notas['Ana'] = 9
print(Notas)

{'Maria': 8.0, 'Pedro': 6.5, 'Ana': 9}

In [9]:
#Buscar um valor, se não encontrar mostra segundo parametro
Notas.get("Geraldo", "Não encontrado!")

'Não encontrado!'

SETS

In [10]:
#Sets são conjuntos não ordenados de elementos não repetidos
#Sets usam {}
bigdata = {'Spark', 'Hive', 'Sqoop'}
print(bigdata)

{'Spark', 'Sqoop', 'Hive'}

In [11]:
#Verifica existência
print('Spark' in bigdata)

True

In [12]:
#Adiciona elemento
bigdata.add('Hadoop')
bigdata

{'Hadoop', 'Hive', 'Spark', 'Sqoop'}

In [13]:
#Número de elementos
print(len(bigdata))

4

In [14]:
bigdata.add("Spark")
bigdata

{'Hadoop', 'Hive', 'Spark', 'Sqoop'}

In [ ]:
TUPLAS

In [15]:
#Tuplas são listas que não podem ser alteradas
#listas usam [], tuplas usam ()
tupla = (1,2,3,4,5,6,7)
tupla

(1, 2, 3, 4, 5, 6, 7)

In [16]:
tupla[4]

5

In [17]:
#dicionários em que cada posição recebe uma tupla
dic2 = {(0, 1): 0, (1, 2): 1, (2, 3): 2, (3, 4): 3, (4, 5): 4, (5, 6): 5, (6, 7): 6, (7, 8): 7, (8, 9): 8, (9, 10): 9}
dic2

{(0, 1): 0,
 (1, 2): 1,
 (2, 3): 2,
 (3, 4): 3,
 (4, 5): 4,
 (5, 6): 5,
 (6, 7): 6,
 (7, 8): 7,
 (8, 9): 8,
 (9, 10): 9}

In [18]:
print(type(Notas))
print(type(bigdata))
print(type(tupla))

<class 'dict'>
<class 'set'>
<class 'tuple'>